* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #1A0DAB;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 14px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 15px;
    border-bottom: 1px solid rgb(175, 175, 175);
}


.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input input {
    width: 620px;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid rgb(175, 175, 175);
    
}

.nav-logo {
    margin-top: -50px;
}
img {
    width: 80px;
}

.nav-list, li {
    display: flex;
    gap: 25px;
    padding: 5px;
    font-size: 14px;
}

li:hover {
    color: #1A73eb;
    cursor: pointer;
}

.select {
    border-bottom: 3px solid #1A73E8;
}

.container-column-1 {
    max-width: 637px;
}

.container-principal {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    gap: 50px;
}

.search-one {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
   
}

.wiki-turing {
    font-size: 21px;
    text-decoration: none;
}

.fact {
    display: flex;
    gap: 135px;
    margin-top: 5px;
}

.deeds, a {
    display: flex;
    margin-top: 5px;
    text-decoration: none;
    gap: 10px;
    font-size: 14px;
}

.strong {
    font-weight: bold;
    opacity: 0.7;
}

.column-2 {
    margin-top: 25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-turing {
    display: flex;
}

.gallery-turing {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    
}

.profile-turing {
    width: 150px;
    border-top-left-radius: 13px;
}

.turing-principal {
    width: 80px;
   
}

.name {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 15px;
}

h1 {
    font-weight: normal;
}

#border-right {
    border-top-right-radius: 13px;
}

.about p{
    margin-top: 15px;
}

@media (max-width: 667px) {


   .container-principal {
    padding: 15px;
   }

   

}